_git_push
git_push
cifar10_resnet18.pt
criterion.pt
history.json
optimizer.pt
params.pt
cats_and_dogs_small
Korean_movie_reviews_2016.txt
temp.pt
nohup.out
checkpoint.pt
X_train.csv
X_test.csv
y_train.csv
y_test.csv
__pycache__
.ipynb_checkpoints
temp